<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main Content-->
<div class="jumbotron">
  <h1 class="display-3">Hey, its Daniyal</h1>
  <p class="lead">I am a student at Centennial College in Software Engineering Technology - AI.  Welcome to my portfolio.</p>
  <hr class="my-1">
  <p class="lead">Click below to learn more about me!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">About me</a>
  </p>
</div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>