<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main Content-->
<div class="jumbotron">
  <img src="/assets/images/daniyal-pic.png" style="width:400x;height:300px;" alt="daniyal-pic">
  <hr class="my-1">
  <h1 class="display-3">Daniyal Ahmed</h1>
  <p class="lead">My name is Daniyal Ahmed. I was born in Pakistan and moved to Canada at the age of 3. 
  I am now a Software Engineering Technology student at Centennial College in my 3rd semester. 
  I enjoy playing sports like basketball, volleyball and football, and love to watch movies and tv shows.</p>
  <p class="lead">Click below to download my resume!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/resume" role="button">Download Resume (.PDF)</a>
  </p>
</div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>