<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main Content-->
<h1>Projects</h1>
<table width="1500" cellpadding="15">
        <tbody><tr>
            <td>
                <img src="/assets/images/mac.jpg" width="400" height="300">
            </td>
            <td>
                <h2>SRS for macOS Soundlink</h2>
                <p>I was assigned a Software Requirements Specification 
                  for a system, so working entirely by myself I did it on adding an update to the macOS Operating system 
                  that adds a volume mixer and other controls</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Card Auction Application</h2>

                <p>I created a simple card auction/trading application using Visual Studio 2019 and C#</p>
            </td>
            <td>
                <img src="/assets/images/csharp1.png" width="400" height="300">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/images/csharp.png" width="400" height="300">
            </td>
            <td>
                <h2>Expense Tracker</h2>
                <p>I created an application that lets you manage expenses through a GUI, using Visual Studio 2019 and C#</p>
            </td>
        </tr>
    </tbody></table>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>