<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main Content-->
<div class="jumbotron">
  <h1>Services</h1>
  <p class="lead">Listed below are some services I offer or programming languages I am knowledgable in: </p>
  <hr class="my-1">
  <p class="lead"> - Full stack Web Development</p>
  <p class="lead"> - Java progamming</p>
  <p class="lead"> - Linux shell programming</p>
  <p class="lead"> - Python programming</p>
  <p class="lead"> - SQL scripting/commands</p>
  <p class="lead"> - C# programming</p>
  <p class="lead"> - C++ programming</p>
  <p class="lead"> - C programming</p>
  <p class="lead"> - PHP Scripting</p>
  <hr class="my-1">
</div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>