  <!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h6 class="display-7 navbar-text">&copy; 2021. All Rights reserved.</h1></a>
      </div>
    </nav>
  </footer>